* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  gap: 3vw;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

body,
main {
  display: flex;
  align-items: center;
}

main {
  flex-direction: row;
  justify-content: space-around;
  gap: 10vw;
  user-select: none;
}

.img_box {
  height: 100%;
  position: relative;
  width: 192px;
  height: 192px;
}

.image-bg {
  border-radius: 50%;
  background-image: linear-gradient(135deg, #41cf7d 10%, #41cf7d);
  filter: blur(90px);
}

.image-bg,
.img_box img {
  position: absolute;
  width: 192px;
  height: 192px;
}

.img_box img {
  object-fit: contain;
}

.text_box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
}

.name {
  background-clip: text;
  -webkit-text-fill-color: #41cf7d;
  display: inline-block;
  cursor: pointer;
}

.text {
  max-width: 350px;
  letter-spacing: -0.4px;
  line-height: 40px;
  font-size: 30px;
  font-weight: 700;
}

.tagline,
.text {
  white-space: pre-wrap;
}

.tagline {
  padding-top: 8px;
  max-width: 392px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  color: rgba(60, 60, 67, 0.78);
  cursor: pointer;
  user-select: all;
}

.name:hover,
.tagline:hover {
  text-decoration: underline;
}

.text_box img {
  object-fit: contain;
  margin-left: -6px;
  transition: height 0.2s;
  -webkit-user-drag: none;
}

.text_box img.error {
  height: 0;
  opacity: 0;
}

section {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  border-color: transparent;
  color: #fff;
  background-color: #41cf7d;
  font-weight: 700;
  cursor: pointer;
  outline: 0;
  transition: all 0.2s;
}

button:active,
button:hover {
  background: #33b469;
}

button.inactive {
  background: #f3f3f3;
  color: #3c3c43;
}

button.inactive:active,
button.inactive:hover {
  background: #e7e7e7;
}

.self_start .check {
  transition: all 0.2s;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  -webkit-user-drag: none;
}

.inactive .check {
  transition: all 0.2s;
  width: 0;
  height: 0;
  margin-right: 0;
}

.time_str_class {
  transition: all 0.2s;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.have_text {
  width: 64px;
}